<div>
    <div>
        <span id="result-header">Results for {{resultType}} Numbers:</span>
    </div>
    <div class="listing">
        <span id="result-value">{{formattedResult}}</span>
    </div>
</div>